body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: monospace, sans-serif;
    color:rgb(32, 92, 183);
}
.container {
    padding: 10px;
    width: 50%;
    border: 1px solid black;
    box-shadow: 2px 2px 3px 2px white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading {
    padding-bottom:20px;
    color:rgb(32, 92, 183);
    font-size: 35px;
}
.temp-container {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
input {
    width: 50%;
    font-family: monospace;
    box-shadow: 1px 1px 2px white;
    padding: 6px;
    outline: none;
    background: rgba(45, 89, 165, 0.3);
    border-color: black;
    font-size: 18px;
    color:white;
}
input::placeholder {
    color:gray;
}

